In [2]:
import sqlite3

In [3]:
DB_FILE = "fleet_demo.db"

In [4]:
def init_db():
    conn = sqlite3.connect(DB_FILE)
    cursor = conn.cursor()

    # Drop tables if they exist (clean start)
    cursor.execute("DROP TABLE IF EXISTS oems")
    cursor.execute("DROP TABLE IF EXISTS vehicles")
    cursor.execute("DROP TABLE IF EXISTS reviews")

    # Create tables
    cursor.execute("""
    CREATE TABLE oems (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT,
        contact TEXT,
        city TEXT
    )
    """)
    cursor.execute("""
    CREATE TABLE vehicles (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        model TEXT,
        dealer TEXT,
        type TEXT,
        price_lakhs INTEGER,
        mileage TEXT,
        warranty TEXT
    )
    """)
    cursor.execute("""
    CREATE TABLE reviews (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        model TEXT,
        rating INTEGER,
        comment TEXT
    )
    """)

    # Insert sample OEMs
    cursor.executemany("""
    INSERT INTO oems (name, contact, city) VALUES (?, ?, ?)
    """, [
        ("Ford Commercial Vehicles", "ford@fleet.com", "Detroit, MI"),
        ("General Motors Fleet", "gm@fleet.com", "Dallas, TX"),
        ("PACCAR (Kenworth & Peterbilt)", "paccar@fleet.com", "Seattle, WA"),
        ("Navistar International", "navistar@fleet.com", "Chicago, IL"),
        ("Tesla Semi", "tesla@fleet.com", "Fremont, CA")
    ])

    # Insert sample vehicles
    cursor.executemany("""
    INSERT INTO vehicles (model, dealer, type, price_lakhs, mileage, warranty)
    VALUES (?, ?, ?, ?, ?, ?)
    """, [
        ("Ford F-750", "Ford Dealer Detroit", "Truck", 30, "7 mpg", "3 years"),
        ("Chevy Express Van", "GM Dealer Dallas", "Van", 18, "15 mpg", "3 years"),
        ("Kenworth T680", "Kenworth Dealer Seattle", "Truck", 45, "6.5 mpg", "4 years"),
        ("International LT", "Navistar Dealer Chicago", "Truck", 38, "6.8 mpg", "4 years"),
        ("Tesla Semi", "Tesla Dealer Fremont", "Electric Truck", 50, "500 miles/charge", "5 years")
    ])

    # Insert sample reviews
    cursor.executemany("""
    INSERT INTO reviews (model, rating, comment) VALUES (?, ?, ?)
    """, [
        ("Ford F-750", 4, "Strong performance, great for heavy loads."),
        ("Ford F-750", 5, "Ford service network is excellent."),
        ("Chevy Express Van", 4, "Good utility for city deliveries."),
        ("Chevy Express Van", 3, "Fuel economy could be better."),
        ("Kenworth T680", 5, "Best in class comfort and efficiency."),
        ("Kenworth T680", 4, "High upfront cost but worth it."),
        ("International LT", 4, "Reliable truck with good uptime."),
        ("Tesla Semi", 5, "Amazing acceleration and futuristic design."),
        ("Tesla Semi", 4, "Charging network still growing.")
    ])

    conn.commit()
    conn.close()
    print(f"✅ Database '{DB_FILE}' created and populated successfully!")

if __name__ == "__main__":
    init_db()

✅ Database 'fleet_demo.db' created and populated successfully!